.banner .swiper {
    overflow: visible;
}
.banner .swiper .swiper-slide {
    opacity: 0.3;
    &-active {
        opacity: 1;
    }
}

@media (--pc) {
    .swiper-pagination {
        display: none;
    }
}