.banner {
    .swiper {
        overflow: visible;
    }
    .swiper-slide {
        opacity: 0.3;
        transition: opacity 0.3s ease-out;
        &-active {
            opacity: 1;
        }
    }
    .swiper-pagination {
        position: static;
        margin-top: 1.2vw;
        &-bullet {
            background: #fff;
            opacity: 0.4 !important;
            &-active {
                opacity: 1 !important;
            }
        }
    } 
}
